* {
    margin: 0;
    padding: 0;
}

body {
    background-image: linear-gradient(140deg, rgb(191, 211, 209), rgb(14, 91, 103));
}


.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;

}

.todoContainer {
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 30vw;
    height: 80vh;
    border-radius: 10px;

}

input {
    width: 300px;
    height: 24px;
    border-radius: 30px;
    font-size: medium;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 50px;
    border: 1px solid rgb(204, 204, 204);
    outline: none;
}

input::placeholder {
    color: rgba(0, 0, 0, 0.431);
}


#btn1 {
    width: 60px;
    height: 30px;
    background-color: rgb(13, 229, 229);
    border-radius: 50px;
    color: white;
    border: rgba(0, 0, 0, 0.329);
}

.taskcontainer {
    margin: 20px;
}


li {
    font-size: x-large;
}